.header{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.nav-items > ul{
  list-style-type: none;
 display: flex;
 gap:20px;
}


.nav-items > ul > li{
  padding: 10px;
}

.card{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.card > img {
  width: 100%;
}

.restaurentList{
  display: flex;
  flex-wrap: wrap;
}

.search-container{
  display: flex;
  gap: 10px;
}